---

- name: start and enable {{ exporter_type }}-exporter
  systemd:
    name: "{{ exporter_type }}-exporter"
    state: started
    enabled: yes
    daemon_reload: yes

- name: force systemd to reread configs
  systemd:
    daemon_reload: true

...
