[Unit]
Description={{ exporter_type | capitalize }} Exporter
Wants=network-online.target {{ exporter_type }}.service
After=network-online.target {{ exporter_type }}.service

[Service]
Type=simple
User={{ user }}
Group={{ group }}
ExecReload=/bin/kill -HUP
ExecStart=/usr/local/bin/{{ exporter_type }}_exporter --kafka.server={{ inventory_hostname }}:{{ kafka_port }}

SyslogIdentifier={{ exporter_type }}_exporter
Restart=always

[Install]
WantedBy=multi-user.target
