<?xml version="1.0" encoding="utf-8"?>
<service>
    <short>{{ exporter_type }}-exporter</short>
    <description>Firewall rule for {{ exporter_type }}-exporter port</description>
    <port protocol="tcp" port="{{ exporter_port }}"/>
</service>
