---

name: PR
on:
  pull_request:
  # schedule:
  #  - cron: "0 6 * * 3"

defaults:
  run:
    working-directory: 'bilalcaliskan.kafka_exporter'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'bilalcaliskan.kafka_exporter'

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint ansible-lint

      - name: Lint code.
        run: |
          yamllint .
          ansible-lint

  molecule:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - centos7
          - centos8
          - ubuntu1604
          - ubuntu1804
          - ubuntu2004
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'bilalcaliskan.kafka_exporter'

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule[docker] docker

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
